 body {

  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;

    background-image: url("../images/bakgrunn.jpg");
    background-size: cover;

}

h1 {
font-size: 55px;

}

h2 {
font-size: 28px;

}


p {
font-size: 20px;
}

a{
font-size: 20px;
margin: 10px;
}


.container {
 display: grid;
 align-items: center;
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 10px;
 padding-top: 50px;
 padding-bottom: 50px;
}

img {
  max-width: 100%;
  max-height:100%;
}

.api_tegning {
  text-align: center;
}

.svg_tegning {
  text-align: center;
}


.tegning-container {
  display: flex;
  justify-content: center;
}

.api_tegning,
.svg_tegning {
  margin-right: 10px; /* Add some spacing between the two divs */
}

a:link, a:visited {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(255, 255, 255);
}


.medlemmer {
   display: flex;
   justify-content: center;
 }

 .elineinfo {
  text-align: center;
  margin-left: .500px;
 }
 .graf {
  margin-bottom: .50px;
 }