 body {

  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;

    background-image: url("/Users/martinstomnas/Desktop/Github/martinstomnas.github.io/images/bakgrunn.jpg");
    background-size: cover;

}



h1 {
font-size: 50px;

}

p {
font-size: 20px;
}

a{
font-size: 20px;

}
